.container {
    margin: 0 auto;
    width: 50%;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#display-table {
    width: 100%;
}

#submit-btn {
    background-color: #007bff;
    color: white;
}

#delete-btn {
    background-color: #ff0000;
    color: white;
}